'use strict';

let credentials = {
    producer: {
        consumer_key: 'XXXXXX',
        consumer_secret: 'XXXXXX',
        access_token_key: 'XXXXXX',
        access_token_secret: 'XXXXXX'
    },
    consumer: {
        consumer_key: 'XXXXXX',
        consumer_secret: 'XXXXXX',
        access_token_key: 'XXXXXX',
        access_token_secret: 'XXXXXX'
    }
};

module.exports = {
    getCredentials: function () {
        return credentials;
    }
}
